<header>
    <h1>GCU Covid-19 Travel Assistant</h1>    
</header>

<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/travel">Travel Info</a></li>
            <li><a href="/contact/new">Contact Us</a></li>
        </ul>
</nav>



