<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/travel">Travel Info</a></li>
            <li><a href="/contact/new">Contact Us</a></li>
        </ul>
    </nav>

</header>