<header>
    <img src="/images/logo_square.png" alt="logo" style="width:50px;">
    <span class="header-text">GCU Covid-19 Travel Assistance</span>
</header>

<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/travel">Travel Info</a></li>
            <li><a href="/contact/new">Contact Us</a></li>
        </ul>
</nav>



