<div class="content">
    <h1>GCU Covid-19 Travel Assistant</h1>
    <p>
    Introduction to the application<br>
    Introduction to GCU and it's partners</br>
    Map showing location of each campus/partner</br>
    </p>
</div>

<section class="main">
    <h3>Glasgow Caledonian University Campuses</h3>
    <a href="glasgow.html" class="button campus">Glasgow, Scotland</a>
    <a href="#" class="button campus">London, England</a>
    <a href="#" class="button campus">New York, America</a>
    </section>
    
    <section class="main">
    <h3>Partnerships</h3>
    <a href="#" class="button partnership">African Leadership College<br><b>Mauritius</b></a>
    <a href="#" class="button partnership">National University of Science and Technology<br><b>Oman</b></a>
    <a href="#" class="button partnership">Grameen Healthcare Trust<br><b>Bangladesh</b></a>
    <a href="#" class="button partnership">University of Johannesburg<br><b>South Africa</b></a>
    </section>