<div class="content">
    <div class="content-aside">
        <h3>GCU</h3>
        <div class="text">
            
        </div>
    </div>

    <div class="content-aside">
        <h3>The Application</h3>
        <div class="text">
            This application was designed to meet the specification of the Web Design Technologies 
            coursework for Trimester C 2020/21. The task is to design and produce a web application with 
            the primary purpose of assisting staff who intend to travel to a different campus 
            or partner school since the outbreak of the Covid-19 virus. The website should feature data from an online
            API and data visualisation for example charts and graphs. The site should also be responsive and utilise fluid layouts, 
            flexible images and CSS media queries.
        </div>
    </div>
</div>

<section class="main">
			
    <aside>
        <div class="covid">
            <h3>Covid</h3>
                <p>
                Search directly from the UK CES Commission for Employment and Skills to see a wide 
                range of information on different careers and the qualifications and skills required for each one.
                </p>
        </div>
    </aside>
    
    <aside>
        <div class="contact">
                <h3>Any questions?</h3>
                <p>
                We have information for every single university in the UK including their website where you can find more information.
                Theres bound to be a course to suit your interests.
                </p>
        </div>
    </aside>        
</section>