<div class="content">
    <h1>GCU Covid-19 Travel Assistant</h1>
    <p>
    Introduction to the application<br>
    Introduction to GCU and it's partners</br>
    Map showing location of each campus/partner</br>
    </p>
</div>

<section class="main">
			
    <aside>
        <div class="job">
            <img src="../Images/job.svg" height="50"><br>
            <h3><a href="#">Job Info</a></h3>
                <p>
                Search directly from the UK CES Commission for Employment and Skills to see a wide 
                range of information on different careers and the qualifications and skills required for each one.
                </p>
        </div>
    </aside>
    
    <aside>
        <div class="uni">
        <img src="../Images/uni.svg" height="50"><br>
            <h3><a href="#">Uni Info</a></h3>
                <p>
                We have information for every single university in the UK including their website where you can find more information.
                Theres bound to be a course to suit your interests.
                </p>
        </div>
    </aside>        
</section>